/*body,html {
	height:100%;
}*/
body {
	transition: background-color 1s;
		background-color: lightblue;
	padding-bottom:0;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.well {
	display: none;
	
}

.quote-display-row, .controls-container-row {
	display:none;
}	

#quote-form h3, #modal {
	font-family: 'Cooper Black', sans;
}
#quote {
	font-weight: bold;
	text-align: center;
	width: 100%;

}

#quote-display {
	border: 5px solid white;
	background-size: 100% 100%;
	background-color:white;
	background-repeat: no-repeat;
	background-position: center;
	/*height: 60vh;*/
	display:none;
}
#quote,#next-quote,#previous-quote,#twitter {
	text-shadow: 2px 2px 2px black;
	white-space: normal;
}
#next-quote, #previous-quote, #twitter {
	color: white;
	white-space: normal;
}
#controls-container {
	background-color: white;
	padding: 10px;
	display:none;
}

@media only screen and (max-width: 329px) {
	#controls-container .btn {
	
	margin-bottom:3%;
	}

}