

.container:first-child {
	margin-top: 5%;
}

body {
	background-color: lightblue;
	padding-bottom:0;
	-ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
	
}

.jumbotron h1 {
	font-family: 'Griffy', cursive;
	color: #1159D7;
	text-shadow: 2px 2px 2px black;
	margin-bottom:5%;
}

.jumbotron {
	width: 60%;
	margin:5% auto;
	
}

#bookmark-form-button-wrapper {
	text-align:center;
	width:100%;
}

.alert {
	display: none;
} 

.alert ul {
	list-style-type:none;
}

.alert li:before {
	content: '\26A0';
	padding-right: 10px;

}

.error {
	border: 2px solid red;
}

#bookmark-icon-area {
	position:fixed;
	right:0;
	z-index:1000;
}

#list-group li a:hover {
	text-decoration:none;
}

#bookmark-icon-form .form-group{
	display: inline-block;
	display: -moz-inline-stack;
	margin-left: 2%;
}



.bookmark-icon {
	cursor:pointer;
}

#bookmarksResults {
	overflow-x:hidden;
}

#button-design {
	box-shadow:2px 2px 2px black;
}

#button-design .glyphicon-edit {
	color:white;
}

#bookmark-collapse {
	max-width:100%;
}

.background-options, .bookmark-options, .border-options {
	margin-left: 3%;
}

.background-options h4, .bookmark-options h4, .border-options h4 {
	margin-left: -3%;
}

#bookmark-icon-form hr {
	background-color:blue;
}

#bookmark-icon-form {
	overflow:auto;
}

#bookmark-icon-form button[type="button"] {
	background-color: black;
	color:white;
}

.modal-body .popover {
	
	background-color:lightblue;
}

.modal-body .popover .arrow:after {
	border-bottom-color:lightblue;
}



hr {
	border-color: grey;
	box-shadow: 2px 2px 2px;
}

.frame-wrapper {
	margin-bottom: 5%;
	display:block;
}

iframe {
	resize: both;
	box-shadow:2px 2px 2px;
	border: none;
	
	
}

.glyphicon, .size, .move-frame span {
	cursor: pointer;
}

.size-wrapper {
	box-shadow:2px 2px 2px black;
	margin-top: 5%;
	background-color:#1159D7;
	color:white;
}
.glyphicon-remove {
	color: red;
}

.bookmark-li {
	color:  #1159D7;
	font-weight: bold;
}

.bookmark-li:hover {

	cursor: pointer;
	color: #1159D7;
	border-bottom: 2px solid #1159D7;
}

#minimize-bar {
	padding:10px;
	display:none;
	max-width:100%;
	position:fixed;
	bottom:0;
	right:0;
	background-color:rgba(255,240,250,.5);
	
}



#bookmark-storage-ul {
	max-width:100%;
	list-style-type:none;
}

#bookmark-storage-ul li:before {
	content: '\002B'; 
    padding-right: 12px;
    color:  #1159D7; 
    font-weight: bold;

}

@media only screen and (max-width: 500px) {
	iframe {
		width: 100%;
		max-width: 100%;
	}	
	
	.size-wrapper {
		display:none;
	}
}
@media only screen and (min-width: 501px) {
	iframe {
		width: 95%;
		max-width: 95%;
	}	
	
	.size-wrapper {
		display:block;
	}

}