body {
	background-color:#20ABFF;
	overflow-x:hidden;
	/*background-image: url('http://wallpaper-gallery.net/images/wallpapers-patterns/wallpapers-patterns-19.jpg');
	background-size:cover;
	background-position: center center;*/
	/*background-image: url('http://cdn.pcwallart.com/images/cyan-color-code-wallpaper-4.jpg');
	background-size:cover;*/
}
.purple {
	color: purple;
}
#skill-level .row {
	padding-left:15px;
	font-weight:bold;
	font-size: 16px;
	color:black;
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
      background:linear-gradient( to right,blue,purple);
    }
	.navbar .navbar-header a, .navbar .navbar-nav li a  {
		color: white;
		
	}
	.navbar .navbar-nav .dropdown-menu li a {
		color: black;
	}
	.navbar .navbar-nav li a:hover {
		/*border-bottom: 2px solid white;*/
		text-decoration: underline;
	}	
    .col-md-4 {
    	/*border-bottom: 2px solid;*/
    }
    /* Add a gray background color and some padding to the footer */
    footer {
      background:linear-gradient( to left,blue,purple);;
      padding: 25px;
      color: white;

    }
    footer i {
    	color: darkblue;
    }
    footer .btn-sm {
    	border-radius:100%;
    	margin-top: 2%;
    }
    iframe {
    	/*box-shadow: 2px 2px 2px;*/
    }
     .label-bootstrap {
    	background-color: #E030FF;
    	color: white;
    }
     .label-php {
    	background-color: #4AFEAC;
    	color: white;
    }
     .label-sql {
    	background-color: #313D54;
    	color: white;
    }
     .label-ruby {
    	background-color: #EF231A;
    	color: white;
    }
     .label-rails {
    	background-color: #4A5354;
    	color: white;
    }
    /* Courses Page */
    
    [data-toggle="collapse"] {
    	color: white;
    	text-decoration: underline;
    	cursor:pointer;
    }
    /* Contact Page */
  
    .contact-form .form-control {
    	border-top: 0;
    	border-left: 0;
    	border-right: 0;
    	box-shadow: none;
    	border-bottom: 2px solid grey;
    	background-color: transparent;
    }
    
    #courses p {
    	font-size: 18px;
    }
    .projects-container hr {
    	border:2px solid #20ABFF;
    }
    .projects-container .panel {
    	box-shadow: 2px 2px 2px black;
    }
    .projects-container .popover {
    	color: black;
    	max-width: 500px;
    }