/* All Pages */

html {

  height: 100%;

}

body {

	background-color: lightgrey;

	font-family: 'Georgia', serif;

	overflow-wrap: break-word;

	word-wrap: break-word;
	
	hyphens: auto;

	min-height: 100%;
        
} 

.navbar {

	margin-bottom: 0;

	background: linear-gradient(to right, #2027D7,purple); /* #2027D7: blue color */

} 

.navbar .navbar-nav li a, .navbar .navbar-header a {
	
	color: white;

}

.navbar .navbar-nav li a:hover, .navbar .navbar-header a:hover {

	text-decoration: underline;

}

.navbar .navbar-nav li.active a:hover {

	background-color: white;

	color: black;

}

a {
	
	color: #A371FF; /* light purple color */

}

a:hover {
	
	text-decoration: underline;
	
	color: #A371FF; /* light purple color */

}

.footer {

	background: linear-gradient( to left,#2027D7,purple); /* #2027D7: blue color */

	color: white;

	padding-top: 2%;

	padding-bottom: 2%;

	position: relative;

	position: sticky;

	top: 100%;

}

.footer i {

	color: #2027D7; /* blue color */
	
	font-size: 16px;

}

.footer .btn-sm {

	border-radius: 100%;

	margin-top: 2%;

}


/* About Me Page */

.affix {
	
	z-index: 2000;

}

[data-spy="scroll"] {

	position: relative;

}

#mobile-nav-scroll {

	z-index: 1000;

	position: fixed;

	top: 12%;

	right: 0;

	background-color: black;

	color: white;

	border-radius: 5px;

	padding: 0;

}

.nav-pills li a {

	color: white;

}

.nav-pills li {

	border-radius: 5px;

}

#mobile-nav-scroll li a:hover {

	background-color: purple;

}

#mobile-nav-scroll li a:focus {

	background-color: transparent;

}

.nav-pills li.active a  {
  
   background-color: #2027D7; /* blue color */

}

.home-full-container {

	background-color: #A371FF; /* light purple color-this color is chosen as it is background-color of last section in this container */

}

#about-me-info {

	background-color: white;

}

.my-bio-title {

	color: white;

	text-shadow: 1px 1px 1px black;
	
	background-color: grey;
	
	margin-top: 0;
	
	margin-bottom: 0;

	padding: 10px;
	
}

.job-title {
	
	background-color: #2027D7; /* blue color */
	
	color: white;
	
	margin-top: 0;
	
	margin-bottom: 0;
	
	padding: 10px;
	
	font-size: 16px;

}

.my-photo-container {

	padding: 0;

	margin: 0;

}

.my-photo-wrapper {

	width: 100%;
	
	background-color: white;
	
	margin-bottom: 0;
	
	padding-bottom: 5%;

}

#my-photo {

	box-shadow: 2px 2px 2px black;

	border: 5px ridge black;

	border-radius: 100%;

	margin-top: 5%;

	width: 90%;
	
}

.greeting {

	border: 5px dotted black;

	background-color: rgb(32,39,215); /* blue color */

	color: white;

	padding: 10px;

	visibility: hidden;

	width: 50%;

	margin: auto;

	margin-top: 5%;
	
}

.quick-facts code {

	background-color: white;

	color:  #2027D7; /* blue color */

}

.my-bio {

	background-color: black;

	color: white;
	
	background-image: url('../images/office-desk.jpg'); /* image of office desk with laptop */

	background-size: cover;

	background-position: center top;
		
}

.quick-facts {

	background-color: rgba(32,39,215,.5); /* blue color with .5 transparency */

	width: 100%;

	text-align: left;

	padding: 3%;

	font-size: 16px;

	margin-top: 0;

}

.backstory-container {

	padding: 0;

	padding-bottom: 5%;
	
	background-color: rgba(0,0,0,.5); /* black color with .5 transparency */

}

.backstory {
	
	line-height: 2em;

	font-size: 16px;

	padding: 3%;

}


#skill-level-info {

	background-color: #95C7E0; /* light blue color */

	padding-bottom: 5%;
	
}

#skill-level-info h2, #sample-projects-group h2 {

	background-color: white;

	margin-top: 0;
	
	margin-bottom: 5%;

	padding: 10px;

	text-shadow: 1px 1px 1px black;

	border-top: 2px solid black;

	border-bottom: 2px solid black;

}

#skill-level-info h2 {
	
	color: #95C7E0;  /* light blue color */

}

#skill-level-info .row {
	
	font-weight: bold;

	font-size: 16px;

	color: black;

}

.progress { 
	
	display: inline-block;
	
	width: 73%;

}

.progress-bar-css, .progress-bar-php, .progress-bar-bootstrap {
	
	width: 55%;

}

.progress-bar-html, .progress-bar-jquery, .progress-bar-mysql {
	
	width: 77%;

}

.progress-bar-js {
	
	width: 44%;

}

.progress-bar-ruby {
	
	width: 22%;

}

.progress-bar-rails {
	
	width: 11%;

}

#sample-projects-group {

	background-color: #A371FF; /* light purple color */


}

#sample-projects-group h2 {

	color: #A371FF;  /* light purple color */

}

#sample-projects-group .panel {
	
	margin-bottom: 5%;

}

#sample-projects-group .alert {

	margin-bottom: 0;

	padding: 10px;
	
	border-bottom: none;

	text-align: center;
	
	background-color: black;
	
	color: white;
	
}

#sample-projects-group .alert {

    font-size: 16px;

}


/* Courses Page */
 
.course-full-container {
	
	background: linear-gradient(to right, black, grey);
	
	position: relative;

}

#courses {
	
	padding-bottom: 50px;

}

.courses-container  {

	background: linear-gradient(to right, black, grey);

	font-family: 'Chalkduster', cursive;

	color: white;

	font-size: 15px;
	
	padding-top: 30px;

	padding-bottom: 30px;

}

.completed-courses {
	
	padding-top: 15px;
	
	margin-top: 15px;

}

#frontend-courses-container {

	border-right: 2px solid white;

}

#backend-courses-container {
	
	padding-left: 5%;

}

#frontend-courses-container h2, #backend-courses-container h2 {
	
	color: #95C7E0;  /* light blue color */;

}

.courses-container h3 a {

	text-decoration: underline;
	
	color: white;
	
}

.chalkboard-base {
	
	width: 100%;
	
	position: absolute;
	
	bottom: 0;
	
	background-color: brown;
	
	background-image: url('https://static.pexels.com/photos/139306/pexels-photo-139306.jpeg'); /* image of wood pattern */
	
	background-size: cover;
	
	height: 30px;
	
	margin-bottom: 0;
	
	margin-top: 0;

}

.chalk {

	position: absolute;
	
	top: -5px; 
	
	left: 0;
	
	right: 0;
	
	margin: auto;
	
	height: 5px;
	
	width: 30px;
	
	background-color: white;
	
	border-radius: 5px;
	
}


/* All Projects Pages/About Me Page */

.projects-full-container {
	
	background-color: white;
	
}

.projects-form-container {

	background-color: #A371FF; /* light purple color */

	padding-bottom: 5%;

	padding-top: 5%;

	border-bottom: 2px solid black;
	
	width: 100%;

}

.projects-title-div {
    
    padding: 0;

}

.projects-title {

	margin-bottom: 2%;

	background-color: white;

	color: #A371FF; /* light purple color */

	font-weight: bold;

	padding: 10px;

	border-radius: 100px;

}

.form-div {
    
    padding: 0;

}

#projects-form {

	padding: 10px;

	background-color: white;
	
	overflow-x: auto;
	
	background-color: white;
	
	border-top: 2px solid black;
	
	border-bottom: 2px solid black;
	
	box-shadow: 2px 2px 2px black;

}

#projects-form h2 { 

    font-size: 20px;

}

.form-skills {
    
    margin: auto;
    
    width: 50%;

}

.select-all-languages {

	display: block;

	margin-bottom: 5%;

	background-color: grey;

	color: white;

}

.select-all-languages:hover {

	background-color: grey;
	
	color: white;

}

.filter-project-container {

	margin-top: 3%;

	text-align: center;
	
	width: 90%;
	
	margin: auto;
}

.filter-project-container button {
	
	margin: 3% 1% 3% 1%;
	
	white-space: normal;
	
}

.frontend-label {

	background-color: #2027D7; /* dark blue color */

}

.backend-label {

	background-color: black;

}

form .checkbox .label {

    font-size: 11px;

}

#projects-container {

	background-color: white;

	margin-top: 0;

	padding-bottom: 5%;
	
	padding-top: 3%;
	
}

#projects-container h2 {

	color: #2027D7; /* blue color */

	padding-bottom: 2%;

}

.personal-projects-border {

	border-bottom: 2px dotted #2027D7; /* blue color */

}

#projects-container hr {

	border: 2px dotted blue;

}

.panel {

    box-shadow: 2px 2px 2px black;

}

.panel-heading {
    
    color: white;
    
    background-color: #4861D7; /* blue color */

}

.panel-body {

   height:  300px; 
   
   padding: 0;

}

.panel-body img {
    
    width: 100%;
    
    height: 100%;

}

.panel-footer {

	overflow-x: auto;
	
	padding-left: 0;
	
	padding-right: 0;

}

.project-summary {
    
    padding: 8px;

}

.panel a {
    
    color: #4861D7; /* blue color */

}

.panel a:hover {
    
    color: #4861D7; /* blue color */

}

.project-skills {
    
    margin: 0;
    
    padding: 8px;
    
    border-top: 2px solid black;

}

.project-skills .label { 

    margin: 1%;
	
	display: inline-block;
	
	color: white;
	
	font-size: 13px;

}


/* Responsive Design */

@media only screen and (min-width: 768px) {

    #about-me-info, #skill-level-info, #sample-projects-group, .projects-full-container, #projects-form {
    
        border-right: 2px solid black;

        border-left: 2px solid black;

    }

}
	  
@media only screen and (max-width:991px) {
	
	.progress { 

		display: block;

		width: 90%;

		margin-left: 5%;
	
	}	
	
	.form-skills, .filter-project-container  {
	    
	    width: 100%;
	    
	    margin: 0;
	
	}
	
	#projects-container hr {

		display: none;

	}

	#frontend-courses-container {

		border-bottom: 2px solid white;

		border-right: none;

	}
	
	#backend-courses-container {
	
		padding-left: 15px;

	}	

}

@media only screen and (max-width:991px) and (min-width: 768px) {
	
	.progress { 

		display: block;

		width: 95%;
		
		margin-left: 2%;
			
	}
	
		#my-photo {
		
		width: 50%;
	
	}

}