---
---

@import "{{ site.theme }}";
@mixin image($width:50%,$height:50%,$border-color:black,$border-radius:5px) {
    width: $width;
    height: $height;
    border: 5px solid $border-color;
    border-radius: $border-radius;
}
body {
    font-family: 'Monaco', serif;
}
h2 {
    text-align: center;
}
#about-me-img {
    @include image($border-color:#4276b6);
    float: left;
    margin-right: 10px;
}
.subheader {
    font-size: 18px;
}
.label {
    display: inline-block;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 3px;
}
.frontend-label {
    background-color: #2027D7; /* dark blue color */
}
.backend-label {
	background-color: black;
} 
.project-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 10px;
}  
.project-img {
    @include image(100%,100%,black, 0);
}
footer i {
	color: #4276b6; /* blue color */
	font-size: 16px;
}
footer a:not(#resume) {
    background-color: white;
    padding: 5px;
    border-radius: 100%;
    display: inline-block;
    margin: 3px;
    box-shadow: 2px 2px 2px black;
}
footer a:not(#resume):hover {
    box-shadow: 2px 2px 2px #4276b6;
}
a:not(.footer-link):hover {
    text-decoration: underline;
}
.project-border {
    border: 1px solid black;
    height: 0;
    background: none;
    margin: 20px 0 20px;
}
@media (max-width: 425px) {
    #about-me-img {
        width: 100%;
        height: 100%;
        float: none;
        margin-right: 0;
    }
}
