
body {
	background-color:beige;
	
}
footer {
	background-color: #159C56;
	padding: 10px;
}
footer h4 {
	color:beige;
	text-shadow: 1px 1px 1px black;
}
footer a {
	color: white;
	text-decoration:underline;
}
#about-me-h1 {
	font-family: 'Britannic Bold';
	color: #206EC4;
}
#myResume {
    	border: 2px solid;
    	box-shadow: 2px 2px 5px;
		background-color: white;
    }
    #myResume .education {
    	margin-top: -20px;
    }
   #myResume h4 span {
    float:right;font-weight:bold;font-size: 14px;
    }
    #myResume h1 {
    	background-color: #206EC4;
    }
  	#myResume div *:not(ul) {
  		padding: 5px;
  	}
  	#myResume div h1 {
  		padding: 0;
  	}
.navbar-header .navbar-brand  {
        font-family: 'Lobster', cursive;
        color: white;
        border-right: 2px solid;
    }
    .navbar-header .navbar-brand:hover {
    	background-color: grey;
    	color:white;
    }
    .navbar {
        background-color: #159C56;
        margin-bottom:0;
       

    }
    .navbar .navbar-right {
    	
    }
    .navbar .navbar-collapse {
    	padding-right:0;
    }
    .navbar .navbar-right li a {
    	color: white;
    }
    .navbar .navbar-right li a:hover {
    	color:  beige;
    }
    .navbar .dropdown-menu li a {
    	color: grey;
    	
    }
    .navbar .dropdown-menu .active a {
    	color:white;
    }
     .dropdown-menu li a:hover {
    	color: white;
    	background-color:grey;
    }
    .politics {
		background-color: #E8270C;
	}
  .social-issues {
    background-color: #9200FF;
  }
 
  	table td div {
  		height: 350px;
  		overflow: auto;
  	}
  	table {
  		background-color: white;
  		box-shadow: 3px 3px 5px black;
  	}
  	table a:link {
  		color: lightgrey;
  		text-decoration: underline;
  	}
  	table a:visited {
  		color: #B18DFF;
  	}
  	table th {
  		font-weight: normal;
  	}
  	table th[colspan='2'] div {
  		width: 300px;
  		margin: auto;
  	}
  	table td[colspan="2"] {
		background-color: #206EC4;
		color: white;
	}
  .politics {
		background-color: #E8270C;
	}
  .social-issues {
    background-color: #9200FF;
  }
  .contact-form {
  	background-color: #206EC4;
  	box-shadow: 2px 2px 2px black;
  	color: white;
  	padding:10%;
  	height:400px;
  	border-radius: 100%;
  }
  .col-xs-4  {
  	border: 2px solid #206EC4;
  	box-shadow: 2px 2px 2px black;
  }