/*@media screen and (max-width: 1000px) {
	#week-forecast div:not(#day5) {
		
		border-bottom: 2px solid white;
		border-right: 0;
	}

}
@media screen and (min-width: 1000px) {
	#week-forecast div:not(#day5) {
		border-right: 2px solid white;
		border-bottom: 0;
	}

}*/

html,body {
     
  	height: 100%;
  	padding-bottom:0;
  	
   
}

body {
	/*background-size: 100% auto;*/
	/*background-size: cover;
	background-repeat: no-repeat;
	background-position: center ;*/
	text-shadow: 2px 2px 2px black;
	background-color:orange;
	
	/*position: relative;*/
   	/*padding-top: 5%;*/
   
	-ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
	
}


#current-forecast {
	background-color: rgba(20,50,200,.5);
	color: white;
	text-align: center;
	border: 2px ridge white;
	border-radius: 100%;
	box-shadow: 2px 2px 2px black;
	padding: 5%;
	/*height:50vh;*/
	/*overflow:auto;*/
	
}

#week-forecast-container {
	padding:0;
}

.absolute-position {
	position:absolute;
	bottom:0;
}
#week-forecast .col-md-2 {
	padding:1%;
}
#week-forecast a {
	color: white;
	text-decoration: underline;
}

.popover-title {
	color: white;
	background-color: #0D94FF;
}

.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 20px;    
	}
}

@-webkit-keyframes ellipsis {
	to {
	width: 20px;    
	}
}
.loading, .location-access, .refresh-page, .error {
	color: white;
	font-size: 20px;
	display:none;
}
@media only screen and (max-width: 200px)  {
	#current-forecast {
		border-radius: 0;
		
		
	}
	#forecasts {
		margin-bottom:10%;
	}
	 #week-forecast .current-day button {
		margin:3%;
	
	} 
	#week-forecast .col-md-2:not(#day5) {
		border-bottom: 2px solid white;
		border-right: 0;
	}
	#week-forecast {
		position:initial;
		
	
	}

}

@media only screen and (max-width: 320px) and (min-width:201px) {
	#current-forecast {
		border-radius: 0;
		
		
	}
	#forecasts {
		margin-bottom:10%;
	}
	#week-forecast .col-md-2:not(#day5) {
		border-bottom: 2px solid white;
		border-right: 0;
	}
	#week-forecast {
		position:initial;
		
	
	}
}
@media only screen and (max-width: 375px) and (min-width:321px) {
	#current-forecast {
		border-radius: 0;

		
	}
	#forecasts {
		margin-bottom:10%;
	}
	#week-forecast .col-md-2:not(#day5) {
		border-bottom: 2px solid white;
		border-right: 0;
	}
	#week-forecast {
		position:initial;
		
	
	}
}
@media only screen and (max-width: 425px) and (min-width:375px) {
	#current-forecast {
		border-radius: 0;
		
		
	}
	#forecasts {
		margin-bottom:10%;
	}
	#week-forecast .col-md-2:not(#day5) {
		border-bottom: 2px solid white;
		border-right: 0;
	}
	#week-forecast {
		position:initial;
		
	
	}
}
@media only screen and (max-width: 991px) and (min-width:426px) {
	#current-forecast {
		border-radius: 0;
		
		
	}
	#forecasts {
		margin-bottom:10%;
	}
	#week-forecast .col-md-2:not(#day5) {
		border-bottom: 2px solid white;
		border-right: 0;
	}
	#week-forecast {
		position:initial;
		
	
	}
	
}
@media only screen and (max-width: 1023px) and (min-width:992px) {
	#current-forecast {
		border-radius: 100%;
		
		
	}
	#forecasts {
		margin-bottom:10%;
	}
	#week-forecast .col-md-2:not(#day5) {
		border-right: 2px solid white;
		border-bottom: 0;
	}
	 #week-forecast .current-day button {
		margin:3%;
	
	}
	#week-forecast {
		position:initial;
		
	
	}

}
@media only screen and (max-width: 1440px) and (min-width:1024px) {
	#current-forecast {
		border-radius: 100%;
		margin-bottom:10%;
		padding:3%;
	}
	#week-forecast .col-md-2:not(#day5) {
		border-right: 2px solid white;
		border-bottom: 0;
	}
	#week-forecast {
		height:auto;
		overflow:visible;
	}

}

@media only screen and (max-width: 2560px) and (min-width:1441px) {
	#current-forecast {
		border-radius: 100%;
		margin-bottom:10%;
		
	}
	#week-forecast .col-md-2:not(#day5) {
		border-right: 2px solid white;
		border-bottom: 0;
	}
	#week-forecast {
		height:auto;
		overflow:visible;
	}
	 

}

#forecasts {
	
	/*margin-bottom: 15%;*/
	display: none;
	height:100%;
}
#week-forecast {
	background-color: rgba(20,250,100,.5);
	color: white;
	padding-top:0;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	display:none;
	/*height:auto;
	position: fixed;
  	bottom: 0;*/
  	width: 100%;
 	/*overflow:auto;*/
  /* Set the fixed height of the footer here */
  	
	
	/*overflow:auto;*/
	
	

	
}
